<%= provide(:title, 'Register Service Business') %>
<% if @user.new_account %>
	<h2 class="service-payment-form">New Service Owner Account:</h2>
	<h2>Provide your billing details (step 3 of 4)</h2>
<% else %>
	<h2 class="service-payment-form">Register a business:<br>Provide your billing details (step 2 of 3)</h2>
<% end %>
<%= render 'services/service_payment_form' %>