<%= provide(:title, 'About') %>
<%= render 'shared/hero_image' %>
<div id="site-content">
	<br>
	<h2>About HumbleCasa</h2>
	Our mission is to improve the lives of both homeowners and service providers. We want to provide a solution that makes it easier to manage home maintenance, especially for 2nd home owners, and helps service providers to run their businesses.
	<br><br>
	HumbleCasa has been working on this problem since early 2012 and our beta release was October 2013. We are based in Truckee, CA.
	<br><br>
	Have thoughts, feedback, ideas? We'd love to hear from you. Send all comments and questions to <a href="mailto:contact@humblecasa.com">contact@humblecasa.com</a>.
</div>