<%= provide(:title, 'Careers') %>
<h2>Careers</h2>
<br>
<h5>HumbleCasa is hiring!</h5> 
(if you're willing to work for free)
<br><br>
We're looking for smart, cool folks who know about marketing, sales, and web development (standard stuff: RoR, SQL, Javascript, HTML). Get in on the ground floor of a start-up! Bonus points if you live in the North Lake Tahoe area, but we're fine with working remotely. Company ownership and, eventually, profit sharing for all employees.
<br><br>
Contact <a href="mailto:jason@humblecasa.com">jason@humblecasa.com</a> to learn more.
