<%= provide(:title, 'Contact Us') %>
<h2>Contact Us</h2>
<br>Got a question about HumbleCasa? Send it to <a href="mailto:jason@humblecasa.com">jason@humblecasa.com</a>. He'll get back to you as soon as possible.
