<%= provide(:title, 'Terms of Use') %>
<%= render 'shared/hero_image' %>
<div id="site-content">
<br>
<h2>Terms of Use</h2>
<p>Your use of the Service constitutes your acceptance of and agreement to all of the terms and conditions in these Terms of Use and the Privacy Policy and your representation that you are 18 years of age or older.</p>

<p>Your use of the Service after such posting will constitute your acceptance of and agreement to such changes. Therefore, you should frequently review these Terms of Use and the Privacy Policy to see if they have been changed.</p>

<p>This Agreement is subject to change at any time, effective upon posting on the Service.</p>
<p>HumbleCasa.com Connects Home Services Businesses and Property Owners or their representatives.
HumbleCasa.com is a scheduling and communications platform for enabling the connection between individuals seeking to obtain services ("Property Owners") and/or individuals seeking to provide services ("Home Services Businesses"). Property Owners and Home Services Businesses together are hereinafter referred to as "Users." Those certain services requested by the Property Owners, which are to be completed by the Home Services Businesses are hereinafter referred to as "Services."</p>

<br>
<h4>Collection of your Personal Information</h4>

<p>HumbleCasa.com is a scheduling and communications platform for enabling connections between Users. HumbleCasa.com does not take part in the interaction between Users. HumbleCasa.com does not have control over the quality, timing, legality, failure to provide, or any other aspect whatsoever of any Services provided by Home Services Businesses, nor of the integrity, responsibility or any of the actions or omissions whatsoever of any Users. HumbleCasa.com makes no representations about the suitability, reliability, timeliness, or accuracy of the Services requested and provided by Users identified through the Service whether in public, private, or offline interactions.</p>

<p><strong>NEITHER HUMBLECASA.COM NOR ITS AFFILIATES OR LICENSORS IS RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR OFFLINE, OF ANY USER OF THE SERVICE. HUMBLECASA.COM AND ITS AFFILIATES AND LICENSORS WILL NOT BE LIABLE FOR ANY CLAIM, INJURY OR DAMAGE ARISING IN CONNECTION WITH YOUR USE OF THE SERVICE.</strong></p>

<br>
<h4>Transactions</h4>

<p>Users of the Service contract for Services directly with other Users. Humblecasa.com will not be a party to any contracts for Services or services.  The Service Payment must be paid through the HumbleCasa.com Web Service. Any Service Payments paid in cash outside of the HumbleCasa.com Web Service are NOT subject to refunds.</p>

<br>
<h4>Release</h4>

<p>HumbleCasa.com expressly disclaims any liability that may arise between Users of its Service.
HumbleCasa.com is only a venue for connecting Users. Because HumbleCasa.com is not involved in the actual contact between Users or in the completion of the Service, in the event that you have a dispute with one or more Users, you release HumbleCasa.com (and our officers, directors, agents, investors, subsidiaries, and employees) from any and all claims, demands, or damages (actual or consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.</p>

<br>
<h4>Links to Other Web Sites</h4>

<p>Links (such as hyperlinks) from HumbleCasa.com to other sites on the Web do not constitute the endorsement by HumbleCasa.com of those sites or their content. Such links are provided as an information service, for reference and convenience only. It is your responsibility to evaluate the content and usefulness of the information obtained from other sites.</p>

<br>
<h4>Public Areas</h4>

<p>The Service may contain profiles, email systems, blogs, message boards, applications, job postings, chat areas, news groups, forums, communities and/or other message or communication facilities ("Public Areas") that allow Users to communicate with other Users. You may only use such community areas to send and receive messages and material that are relevant and proper to the applicable forum. Without limitation, you may not:
	<ol>	
		<li>Upload files that contain viruses, Trojan horses, corrupted files, or any other similar software that may damage the operation of another's computer.</li>
		<li>Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as, but not limited to, rights of privacy and publicity) of others.</li>
		<li>Use the Service for any purpose which is in violation of local, state, national, or international law.</li>
		<li>Publish, post, upload, distribute or disseminate any profane, defamatory, infringing, obscene or unlawful topic, name, material or information.</li>
		<li>Upload files that contain software or other material that violates the intellectual property rights (or rights of privacy or publicity) of any third party.</li>
		<li>Advertise or offer to sell any goods or services for any commercial purpose on the Service which are not relevant to the services offered on the Service.</li>
		<li>Conduct or forward surveys, contests, pyramid schemes, or chain letters.
		<li>Impersonate another person or allow any other person or entity to use your identification to post or view comments.
		<li>Post the same note repeatedly (referred to as 'spamming'). Spamming is strictly prohibited.</li>
		<li>Download any file posted by another User that a User knows, or reasonably should know, cannot be legally distributed through the Service.</li>
		<li>Restrict or inhibit any other User from using and enjoying the Public Areas.</li>
		<li>Imply or state that any statements you make are endorsed by HumbleCasa.com, without the prior written consent of HumbleCasa.com.</li>
		<li>Use a robot, spider, manual and/or automatic processes or devices to data-mine, data-crawl, scrape or index HumbleCasa.com in any manner.</li>
		<li>Hack or interfere with HumbleCasa.com, its servers or any connected networks.</li>
		<li>Adapt, alter, license, sublicense or translate HumbleCasa.com for your own personal or commercial use.</li>
		<li>Remove or alter, visually or otherwise, any copyrights, trademarks or proprietary marks and rights owned by HumbleCasa.com.</li>
		<li>Upload content that is offensive and/or harmful, including, but not limited to, content that advocates, endorses, condones or promotes racism, bigotry, hatred or physical harm of any kind against any individual or group of individuals.</li>
		<li>Upload content that provides materials or access to materials that exploit people under the age of 18 in an abusive, violent or sexual manner.</li>
	</ol>
</p>

<p>All submissions made to Public Areas will be public, and HumbleCasa.com will not be responsible for the action of other Users with respect to any information or materials posted in Public Areas.</p>

<br>
<h4>Account, Password and Security</h4>

<p>You are the sole authorized user of your account. You are responsible for maintaining the confidentiality of any password and account number provided by you or HumbleCasa.com for accessing the Service. You are solely and fully responsible for all activities that occur under your password or account. HumbleCasa.com has no control over the use of any User's account and expressly disclaims any liability derived therefrom. Should you suspect that any unauthorized party may be using your password or account or you suspect any other breach of security, you will contact HumbleCasa.com immediately.</p>

<br>
<h4>No Commercial Use or Solicitation</h4>

<p>The Service may be used for your personal, non-commercial use only; you may not use the Service in connection with any commercial endeavors whatsoever without the express prior written consent of HumbleCasa.com.<p>
<p>Without limitation, the Service may not be used to solicit for any other business, website or service. You may not solicit, advertise for, or contact in any form Users for employment, contracting, or any other purpose not related to Services facilitated through HumbleCasa.com without express written permission from HumbleCasa.com.</p>
<p>You may not use the Service to collect usernames and/or email addresses of members by electronic or other means without the express prior written consent of HumbleCasa.com.</p>

<br>
<h4>Your Information</h4>

<p>"Your Information" is defined as any information and materials you provide to HumbleCasa.com or other Users in connection with your registration for and use of the Service, including without limitation that posted or transmitted for use in Public Areas. You are solely responsible for Your Information, and we act merely as a passive conduit for your online distribution and publication of Your Information. You hereby represent and warrant to HumbleCasa.com that Your Information (a) will not be false, inaccurate, incomplete or misleading; (b) will not be fraudulent or involve the sale of counterfeit or stolen items; (c) will not infringe any third party's copyright, patent, trademark, trade secret or other proprietary right or rights of publicity or privacy; (d) will not violate any law, statute, ordinance, or regulation (including without limitation those governing export control, consumer protection, unfair competition, anti-discrimination or false advertising); (e) will not be defamatory, libelous, unlawfully threatening, or unlawfully harassing; (f) will not be obscene or contain child pornography or be harmful to minors; (g) will not contain any viruses, Trojan Horses, worms, time bombs, cancelbots or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information; and (h) will not create liability for HumbleCasa.com or cause HumbleCasa.com to lose (in whole or in part) the services of its ISPs or other partners or suppliers.</p>

<p>Solely to enable HumbleCasa.com to use Your Information, so we are not violating any rights you might have in that information, you hereby grant us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sublicensable (through multiple tiers) right to exercise all copyright, publicity rights, and any other rights you have in Your Information, in any media now known or not currently known.</p>

<br>
<h4>Billing and Payment Policy</h4>

<p>Property Owners are obligated to pay for the services of the Service, unless specifically notified otherwise. For all purchases and payments for reimbursement costs, fees or expenses associated with a Service, HumbleCasa.com will charge your credit card according to the amount agreed upon between you and HumbleCasa.com for the use of the services of the Service, and you hereby authorize us to charge your credit card for such amounts.</p>

<p>No refunds or credits will be provided once the Property Owner's credit card has been charged. At HumbleCasa.com's sole discretion, refunds or credits may be granted in extenuating circumstances, as a result of specific refund guarantee promotions, or to correct any errors made by HumbleCasa.com.<p>

<p>While HumbleCasa.com will use commercially reasonable efforts to ensure the security of all credit card and all other personal information, we expressly disclaim any liability for any damage that may result should any information be released to any third parties, and you agree to hold HumbleCasa.com harmless for any damages that may result therefrom. HumbleCasa.com will use third party services to process credit card information. For further information regarding that service, please contact HumbleCasa.com to request information about HumbleCasa.com's credit card processing providers.</p>

<p>You will be liable for all transaction taxes on the services provided under this Agreement (other than taxes based on HumbleCasa.com's income).</p>

<br>
<h4>Employment and Withholding</h4>

<p>HumbleCasa.com is not an employment service and does not serve as an employer of any User. As such, HumbleCasa.com will not be liable for any tax or withholding, including but not limited to unemployment insurance, employer's liability, social security or payroll withholding tax in connection with your use of Users' services. You understand and agree that if HumbleCasa.com is found to be liable for any tax or withholding tax in connection with your use of Users' services, then you will immediately reimburse and pay to HumbleCasa.com an equivalent amount, including any interest or penalties thereon.</p>

<br>
<h4>Termination and Suspension</h4>

<p>Without limitation, HumbleCasa.com may terminate or suspend your right to use the Service if you breach any term of this Agreement or any policy of HumbleCasa.com posted on the Service from time to time, or if HumbleCasa.com otherwise finds that you have engaged in inappropriate and/or offensive behavior. If HumbleCasa.com terminates or suspends your right to use the Service for any of these reasons, you will not be entitled to any refund of unused balance in your account. In addition to terminating or suspending your account, HumbleCasa.com reserves the right to take appropriate legal action, including without limitation pursuing civil, criminal, and injunctive redress.</p>

<p>HumbleCasa.com may terminate or suspend your right to use the Service at anytime for any or no reason by providing you with written or email notice of such termination, and termination will be effective immediately upon delivery of such notice.</p>

<p>Even after your right to use the Service is terminated or suspended, this Agreement will remain enforceable against you.</p>

<p>You may terminate this Agreement at any time by ceasing all use of the Service. All sections which by their nature should survive the expiration or termination of this Agreement shall continue in full force and effect subsequent to and notwithstanding the expiration or termination of this Agreement.</p>

<br>
<h4>Intellectual Property Rights</h4>

<p>All text, graphics, editorial content, data, formatting, graphs, designs, HTML, look and feel, photographs, music, sounds, images, software, videos, designs, typefaces and other content (collectively "Proprietary Material") that users see or read on the Service is owned by HumbleCasa.com or are used by permission. Proprietary Material is protected in all forms, media and technologies now known or hereinafter developed. HumbleCasa.com owns all Proprietary Material as well as the coordination, selection, arrangement and enhancement of such Proprietary Materials as a Collective Work under the United States Copyright Act, as amended. The Proprietary Material protected by the domestic and international laws of copyright, patents, and other proprietary rights and laws. Users may not copy, download, use, redesign, reconfigure, or retransmit anything from the Service without HumbleCasa.com's express prior written consent. Any use of such Proprietary Material, other than as permitted therein, is expressly prohibited without the prior permission of HumbleCasa.com and/or the relevant right holder.</p>

<p>The service marks and trademarks of HumbleCasa.com, including without limitation HumbleCasa.com and the HumbleCasa.com logo are service marks owned by HumbleCasa.com. Any other trademarks, service marks, logos and/or trade names appearing on the Service are the property of their respective owners. You may not copy or use any of these marks, logos or trade names without the express prior written consent of the owner.</p>

<br>
<h4>Copyright Complaints and Copyright Agent</h4>

<p>HumbleCasa.com respects the intellectual property of others, and expects Users to do the same. If you believe, in good faith, that any materials on the Service infringe upon your copyrights, please send the following information to HumbleCasa.com, P.O. Box 10703, Truckee, CA 96162.
	<ol>
		<li>A description of the copyrighted work that you claim has been infringed, including the URL (Internet address) or other specific location on the Service where the material you claim is infringed is located. Include enough information to allow HumbleCasa.com to locate the material, and explain why you think an infringement has taken place.</li>
		<li>A description of the location where the original or an authorized copy of the copyrighted work exists -- for example, the URL (Internet address) where it is posted or the name of the book in which it has been published.</li>
		<li>Your address, telephone number, and e-mail address.</li>
		<li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.</li>
		<li>A statement by you, made under penalty of perjury, that the information in your notice is accurate, and that you are the copyright owner or authorized to act on the copyright owner's behalf.</li> 
		<li>An electronic or physical signature of the owner of the copyright or the person authorized to act on behalf of the owner of the copyright interest.</li>
	</ol>
</p>

<br>
<h4>Modifications to the Service</h4>

<p>HumbleCasa.com reserves the right in its sole discretion to review, improve, modify or discontinue, temporarily or permanently, the Service or any content or information on the Service with or without notice. HumbleCasa.com will not be liable to any party for any modification or discontinuance of the Service.</p>

<br>
<h4>Confidential Information</h4>

<p>You acknowledge that Confidential Information (as hereinafter defined) is a valuable, special and unique asset of HumbleCasa.com and agree that you will not disclose, transfer, use (or seek to induce others to disclose, transfer or use) any Confidential Information for any purpose other than disclosure to your authorized employees and agents who are bound to maintain the confidentiality of Confidential Information. You shall promptly notify HumbleCasa.com in writing of any circumstances which may constitute unauthorized disclosure, transfer, or use of Confidential Information. You shall use best efforts to protect Confidential Information from unauthorized disclosure, transfer or use. You shall return all originals and any copies of any and all materials containing Confidential Information to HumbleCasa.com upon termination of this Agreement for any reason whatsoever. The term "Confidential Information" shall mean any and all of HumbleCasa.com's trade secrets, confidential and proprietary information and all other information and data of HumbleCasa.com that is not generally known to the public or other third parties who could derive value, economic or otherwise, from its use or disclosure. Confidential Information shall be deemed to include technical data, know-how, research, product plans, products, services, customers, markets, software, developments, inventions, processes, formulas, technology, designs, drawings, engineering, hardware configuration information, marketing, finances or other business information disclosed directly or indirectly in writing, orally or by drawings or observation.</p>

<br>
<h4>Disclaimer of Warranties</h4>

<strong><p>USE OF THE SERVICE IS ENTIRELY AT YOUR OWN RISK.</p>

<p>THE SERVICE IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
WITHOUT LIMITING THE FOREGOING, NEITHER HUMBLECASA>COM NOR ITS AFFILIATES OR LICENSORS WARRANT THAT ACCESS TO THE SERVICE WILL BE UNINTERRUPTED OR THAT THE SERVICE WILL BE ERROR-FREE; NOR DO THEY MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE, OR AS TO THE TIMELINESS, ACCURACY, RELIABILITY, COMPLETENESS OR CONTENT OF ANY OR SERVICE, INFORMATION OR MATERIALS PROVIDED THROUGH OR IN CONNECTION WITH THE USE OF THE SERVICE.</p>

<p>NEITHER HUMBLECASA>COM NOR ITS AFFILIATES OR LICENSORS IS RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR OFFLINE, OF ANY USER OF THE SERVICE.</p>

<p>NEITHER HUMBLECASA.COM NOR ITS AFFILIATES OR LICENSORS IS RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR OFFLINE, BETWEEN PROPERTY OWNERS AND HOME SERVICES BUSINESSES.</p>

<p>NEITHER HUMBLECASA>COM NOR ITS AFFILIATES OR LICENSORS WARRANT THAT THE SERVICE IS FREE FROM VIRUSES, WORMS, TROJAN HORSES, OR OTHER HARMFUL COMPONENTS.</p>

<p>HUMBLECASA.com AND ITS AFFILIATES AND LICENSORS CANNOT AND DO NOT GUARANTEE THAT ANY PERSONAL INFORMATION SUPPLIED BY YOU WILL NOT BE MISAPPROPRIATED, INTERCEPTED, DELETED, DESTROYED OR USED BY OTHERS.</p>

<br>
<h4>No Liability</h4>

<p>YOU AGREE NOT TO HOLD HUMBLECASA.COM, ITS AFFILIATES, ITS LICENSORS, OR ANY OF SUCH PARTIES' AGENTS, EMPLOYEES, OFFICERS, DIRECTORS, CORPORATE PARTNERS, OR PARTICIPANTS LIABLE FOR ANY DAMAGE, SUITS, CLAIMS, AND/OR CONTROVERSIES (COLLECTIVELY, "LIABILITIES") THAT HAVE ARISEN OR MAY ARISE, WHETHER KNOWN OR UNKNOWN, RELATING TO YOUR USE OF OR INABILITY TO USE THE SERVICE, INCLUDING WITHOUT LIMITATION ANY LIABILITIES ARISING IN CONNECTION WITH THE CONDUCT, ACT OR OMISSION OF ANY USER (INCLUDING WITHOUT LIMITATION STALKING, HARASSMENT THAT IS SEXUAL OR OTHERWISE, ACTS OF PHYSICAL VIOLENCE, AND DESTRUCTION OF PERSONAL PROPERTY), ANY DISPUTE WITH ANY USER, ANY INSTRUCTION, ADVICE, ACT, OR SERVICE PROVIDED BY HUMBLECASA.COM OR ITS AFFILIATES OR LICENSORS AND ANY DESTRUCTION OF YOUR INFORMATION.</p>

<p>UNDER NO CIRCUMSTANCES WILL HUMBLECASA.com ITS AFFILIATES, ITS LICENSORS, OR ANY OF SUCH PARTIES' AGENTS, EMPLOYEES, OFFICERS, DIRECTORS, CORPORATE PARTNERS, OR PARTICIPANTS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR EXEMPLARY DAMAGES ARISING IN CONNECTION WITH YOUR USE OF OR INABILITY TO USE THE SERVICES, EVEN IF ADVISED OF THE POSSIBILITY OF THE SAME. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>

<p>IF, NOTWITHSTANDING THE FOREGOING EXCLUSIONS, IT IS DETERMINED THAT HUMBLECASA.COM OR ITS AFFILIATES, ITS LICENSORS, OR ANY OF SUCH PARTIES' AGENTS, EMPLOYEES, OFFICERS, DIRECTORS, CORPORATE PARTNERS, OR PARTICIPANTS IS LIABLE FOR DAMAGES, IN NO EVENT WILL THE AGGREGATE LIABILITY, WHETHER ARISING IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EXCEED THE TOTAL FEES PAID BY YOU TO HUMBLECASA.COM DURING THE SIX (6) MONTHS PRIOR TO THE TIME SUCH CLAIM AROSE.</p></strong>

<br>
<h4>Indemnification</h4>

<p>You hereby agree to indemnify, defend, and hold harmless HumbleCasa.com, its directors, officers, employees, agents, licensors, attorneys, independent contractors, providers, subsidiaries, and affiliates from and against any and all claim, loss, expense or demand of liability, including attorneys' fees and costs incurred, in connection with your use or inability to use the Service. HumbleCasa.com reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to your indemnification. You will not, in any event, settle any claim or matter without the written consent of HumbleCasa.com.</p>

<br>
<h4>Dispute Resolution and Governing Law</h4>

<p><b>Informal Negotiations.</b> To expedite resolution and reduce the cost of any dispute, controversy or claim related to this Agreement ("Dispute"), you and HumbleCasa.com agree to first attempt to negotiate any Dispute (except those Disputes expressly excluded below) informally for at least thirty (30) days before initiating any arbitration or court proceeding. Such informal negotiations will commence upon written notice. Your address for such notices is your billing address, with an email copy to the email address you have provided to HumbleCasa.com. HumbleCasa.com's address for such notices is HumbleCasa.com, P.O. Box 10703, Truckee, CA 96161.</p>

<p><b>Binding Arbitration.</b> If you and HumbleCasa.com are unable to resolve a Dispute through informal negotiations, either you or HumbleCasa.com may elect to have the Dispute (except those Disputes expressly excluded below) finally and exclusively resolved by binding arbitration. Any election to arbitrate by one party will be final and binding on the other. YOU UNDERSTAND THAT IF EITHER PARTY ELECTS TO ARBITRATE, NEITHER PARTY WILL HAVE THE RIGHT TO SUE IN COURT OR HAVE A JURY TRIAL. The arbitration will be commenced and conducted under the Commercial Arbitration Rules (the "AAA Rules") of the American Arbitration Association ("AAA") and, where appropriate, the AAA's Supplementary Procedures for Consumer Related Disputes ("AAA Consumer Rules"), both of which are available at the AAA website www.adr.org. Your arbitration fees and your share of arbitrator compensation will be governed by the AAA Rules (and, where appropriate, limited by the AAA Consumer Rules). If such costs are determined by the arbitrator to be excessive, HumbleCasa.com will pay all arbitration fees and expenses. The arbitration may be conducted in person, through the submission of documents, by phone or online. The arbitrator will make a decision in writing, but need not provide a statement of reasons unless requested by a party. The arbitrator must follow applicable law, and any award may be challenged if the arbitrator fails to do so. Except as otherwise provided in this Agreement, you and HumbleCasa.com may litigate in court to compel arbitration, stay proceeding pending arbitration, or to confirm, modify, vacate or enter judgment on the award entered by the arbitrator.</p>

<p><b>Exceptions to Alternative Dispute Resolution.</b> You and HumbleCasa.com agree that the following Disputes are not subject to the above provisions concerning informal negotiations and binding arbitration: (a) any Disputes seeking to enforce or protect, or concerning the validity of, any of your or HumbleCasa.com's intellectual property rights; (b) any Dispute related to, or arising from, allegations of theft, piracy, invasion of privacy or unauthorized use; and (c) any claim for injunctive relief.</p>

<p><b>Restrictions.</b> You and HumbleCasa.com agree that any arbitration will be limited to the Dispute between HumbleCasa.com and you individually. To the full extent permitted by law, (a) no arbitration will be joined with any other; (b) there is no right or authority for any Dispute to be arbitrated on a class-action basis or to utilize class action procedures; and (c) there is no right or authority for any Dispute to be brought in a purported representative capacity on behalf of the general public or any other persons.</p>

<p><b>Location.</b> Arbitration will take place at any reasonable location within the United States convenient for you.</p>

<p><b>Severability.</b> You and HumbleCasa.com agree that if any portion of this section entitled "Dispute Resolution and Governing Law" is found illegal or unenforceable, that portion will be severed and the remainder of the section will be given full force and effect. Notwithstanding the foregoing, if the subsection entitled "Exceptions to Alternative Dispute Resolution" is found to be illegal or unenforceable, neither you nor HumbleCasa.com will elect to arbitrate any Dispute falling within that portion of that subsection that is found to be illegal or unenforceable and such Dispute will be decided by a court of competent jurisdiction and you and HumbleCasa.com agree to submit to the personal jurisdiction of that court.</p>

<br>
<h4>Special Promotions</h4>

<p>HumbleCasa.com may from time to time provide certain promotional opportunities to Property Owners. All promotions will be run at the sole discretion of HumbleCasa.com, and can be activated, modified or removed at anytime by HumbleCasa.com without advance notification.</p>

<br>
<h4>No Agency</h4>

<p>No independent contractor, agency, partnership, joint venture, employer-employee or franchiser-franchisee relationship is intended or created by this Agreement.</p>

<br>
<h4>General Provisions</h4>

<p>Failure by HumbleCasa.com to enforce any provision(s) of this User Agreement will not be construed as a waiver of any provision or right. This Agreement constitutes the entire agreement between you and HumbleCasa.com with respect to its subject matter. If any provision of this Agreement is found to be invalid or unenforceable, the remaining provisions will be enforced to the fullest extent possible, and the remaining provisions will remain in full force and effect. This Agreement will inure to the benefit of HumbleCasa.com, its successors and assigns.</p>

<br>
<h4>Changes to this Agreement and the Service</h4>

<p>HumbleCasa.com reserves the right, at its sole and absolute discretion, to change, modify, add to, supplement or delete any of the terms and conditions of this Agreement (including the Privacy Policy) at any time, effective with or without prior notice. If any future changes to this Agreement are unacceptable to you or cause you to no longer be in compliance with this Agreement, you must terminate, and immediately stop using, the Service. Your continued use of the Service following any revision to this Agreement constitutes your complete and irrevocable acceptance of any and all such changes. HumbleCasa.com may change, modify, suspend, or discontinue any aspect of the Service at any time. HumbleCasa.com may also impose limits on certain features or restrict your access to parts or all of the Service without notice or liability.</p>

<br>
<strong><p>I HEREBY ACKNOWLEDGE THAT I HAVE READ AND UNDERSTAND THE FOREGOING TERMS OF USE AND THE HUMBLECASA.COM PRIVACY POLICY AND AGREE THAT MY USE OF THE SERVICE IS AN ACKNOWLEDGMENT OF MY AGREEMENT TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT.</p></strong>
</div>