<% @email = "mailto:" + @service.email %>
<p>If you have any questions, please don't hesitate to contact your service provider at <%= @service.email%>.</p>
<br>
<p>
  Thank you,<br>
  The HumbleCasa Team
</p>
<br>
<br>