<%= provide(:title, 'New user account') %>
	
<% if params[:role] == "propertyowner" %>
	<h2 class="user-form">Create a new Property Owner account (step 1 of 3)</h2>
	<h6><center>(Need to create a service provider or employee account instead? Click over to our <%= link_to "Services", business_path %> page to create those accounts.)</center><h6>
	<br>
<% else %>
    <h2 class="user-form">Create a new Service Owner account (step 1 of 4)</h2>
    <h6><center>(Need to create a property owner account instead? Click over to our <%= link_to "Homeowner", root_path %> page to create that account.)</center><h6>
	<br>
 <% end %>

<%= render partial: 'form', locals: {save_user_label: "Create user account"}  %>