<%= provide(:title, 'Sign up') %>
<% case params[:role] %>
	<% when "propertyowner" %>
		<h2>Create a new Property Owner account</h2>
	<% when "serviceowner" %>
		<h2>Create a new Service Owner account</h2>
	<% when "employee" %>
		<h2>Create a new Employee account</h2>
<% end %>
<%= render partial: 'form', locals: {save_user_label: "Create user"} %>

