<%= provide(:title, 'New user account') %>
	
<% if params[:role] == "propertyowner" %>
	<h2 class="user-form">New Property Owner Account:</h2>
	<h2>User Details (step 1 of 3)</h2>
	<h6><center>(Need to create a business account instead? Click over to our <%= link_to "Business signup", new_user_path(role: "serviceowner") %> page to create those accounts.)</center></h6>
<% else %>
    <h2 class="user-form">New Service Owner Account:</h2>
    <h2>User Details (step 1 of 4)</h2>
    <h6><center>(Need to create a property owner account instead? Click over to our <%= link_to "Homeowner signup", new_user_path(role: "propertyowner") %> page to create that account.)</center></h6>
 <% end %>
<%= render partial: 'form', locals: {save_user_label: "Create user account"}  %>
