<%= provide(:title, 'Select Employer') %>
	<% if @user.new_account %>
		<h2 class="user-employer-select">Create a new Employee account (step 2 of 2)</h2>
	<% else %>
		<h2 class="user-employer-select">Select Employer</h2>
	<% end %>
	<p>Please select your employer from the list below, or enter the code provided by your employer. Once you have selected an employer a request will be sent to that employer to approve your account. If you are using a valid employee code, you're account will be automatically approved.</p>
	<br>
	<br>
	<%= render 'users/select_employer_form' %>