<div class="nested-fields">
	<%= f.hidden_field :category, value: thisCategory %>
	<%= f.association :service, collection: @category_services_in_area, :as => :select, label: false, include_blank: true %>
</div>