<%= simple_form_for @property, :validate => true do |f| %>
    <div class="row-fluid">
		<div class="span2">
			<% if !@property.user.nil? %>
				<h5>Owner:</h5>
				<%= render @property.user %>
				<hr>
			<% end %>
			<h5>Tips</h5>
			<ul>
				<li>You can have more than one property per user account. Once you've created this property, you'll see a link on your homepage to add more properties.</li>
				<br>
				<li>If you  keep info like your home alarm code up-to-date here, all service providers for this property will see it.</li>
			</ul>
		</div>
		<div class="span10">
    		<%= render 'property_fields', field: f %>
    	</div>
	    <center>
			<button class="btn btn-primary" type="submit" data-disable-with="Saving...">
				<i class="icon-ok icon-white"></i> Save
			</button>
			&nbsp		
			<%= link_to "Cancel", root_path, class: "btn" %>
		</center>
	</div>
<% end %>