<p class="interested-fields">
	<%= f.input_field :interested, type: "checkbox" %>
	<%= f.label "I'm interested in this category when available." %>
	<%= f.hidden_field :category, value: thisCategory %>
</p>