<p class="interested-fields">
	<%= f.input :interested, as: :boolean, inline_label: "I'd be interested in this service category when it becomes available", label: false %> 
	<%= f.hidden_field :category, value: thisCategory %>
</p>