<p class="interested-fields">
	<%= f.input :interested, as: :boolean, inline_label: "I'm interested in this category when available.", label: false %>
	<%= f.hidden_field :category, value: thisCategory %>
</p>