<%#= provide(:title, 'Register Property') %>
<!--<div id="content">
	<%#= render 'form' %>
	<%#= link_to 'Back', root_path, :rel => "modal:close" %>
</div>

-->
<div id="property_form">
	<%= render partial: 'form' %>
</div>