<%= provide(:title, 'Register Property') %>
<% if @user.new_account %>
	<h2 class="property-form">New Property Owner account: register your property (step 2 of 4)</h2>
<% else %>
	<h2 class="property-form">Register a new property: property details (step 1 of 3)</h2>
<% end %>
<%= render partial: 'form' %>