<%= provide(:title, 'Property Details') %>
<h2>Property Details</h2>

<%= render @property %>
<hr>
<%= render @property.user %>
<br>
<center>
	<button class="btn" type="button" id="close">
		<i class="icon-off"></i> Close
	</button>
</center>