<%= provide(:title, 'Property Details') %>
<h2>Property Details</h2>
<h5>Property:</h5>
<%= render @property %>
<hr>
<h5>Owner:</h5>
<%= render @property.user %>
<br>
<center>
	<%= link_to "Back", root_path, class: "btn" %>
</center>