<br>
<br>
<br>
Already have an acount?
<br>
<br>
<div class="launch-login-form">
	<%= link_to login_path, remote: true, class: "btn btn-primary" do %>
		<i class="icon-ok-sign icon-white"></i> Login to your account
	<% end %>
</div>