<p>
	<h5>Already have an acount?</h5>
	<p class="launch-login-form">
		<%= link_to login_path, remote: true, class: "btn btn-primary" do %>
			<i class="icon-ok-sign icon-white"></i> Login
		<% end %>
	</p>
</p>
