
<center class="well" id="homepage-login">
	<div class="main-title">
		<h2>Welcome to HumbleCasa!</h2>
	</div>
	<%= simple_form_for @user_session, :validate => true do |f| %>
	  	<center>
	  		<%= f.input :email, placeholder: "email", label: false %>
			<%= f.input :password, placeholder: "password", label: false %>
			<button class="btn btn-small btn-primary" id="save-btn" type="submit" data-disable-with="Saving...">
				Login
			</button>
		</center>
	<% end %>
</center>
