<button class="btn btn-primary" id="save-btn" type="submit" data-disable-with="Saving...">
	<i class="icon-ok icon-white"></i> <%= save_button_label %>
</button>
&nbsp		
<button class="btn" type="button" id="close">
	<i class="icon-off"></i> Cancel
</button>