<h3>Welcome to HumbleCasa!</h3><br>
<p>
	To get started you need to register your property. You can have more than one property and manage services for each property separately - you'll see an option to add more properties after you create your first one.
</p>
<p>
	We're going to ask you for info such as your address, including zip code, and any special instructions that service providers might need to access your house. Your special instructions might include: 
	<ul>
		<li>the code to your security gate</li>
		<li>the location of outdoor water faucets</li>
		<li>how to handle any pets in the house</li> 
		<li>which doorway you'd like service folks to enter through</li>
	</ul>
	<b>Only your selected service providers can see these details</b> but we understand if you don't want to enter it now - you can always contact your providers over the phone or in person to give them this info.
</p> 
<br>
<center class="launch-property">
	<%= link_to new_user_property_path(@user), class: "btn btn-primary" do%>
		<i class="icon-home icon-white"></i> Register a Property
	<% end %>
</center>