<div class="dashboard-outside">
	<div class="dashboard-inside">
		<center><h4>Property Dashboard</h4></center>

		<% @prop_count = @property_listings.size + 1 %>
		<% @span_size = (12 / @prop_count).floor %>
		<% @extra = 12 % @prop_count %>

		<div class="row-fluid">
			<% @property_listings.sort_by { |listing| listing.created_at}.each do |listing| %>
				<div class=<%= "span" + @span_size.to_s %>>			
					<div class="panel-outside">
						<div class="panel-inside">
							<%= render 'static_pages/home_property/dashboard_listing', listing: listing %>	
						</div>
					</div>
				</div>
			<% end %>
			<div class=<%= "span" + (@span_size + @extra).to_s %>>	
				<div class="panel-outside">
					<div class="panel-inside">
						<center>
							<hr>
							<%= link_to "+ Add a property", new_user_property_path(current_user) %>
							<hr>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>