<% if params[:message] == "welcome" %>
	<% if @user.properties.first.any_services %>
		<p>
			Ok, you've registered a new property! Hopefully you found a service provider to work with!
		</p>
		<p>
			You'll need to wait for any selected services to provide you with a quote before requesting your first service. There is no commitment with the quote - it's just the standard charge for a service from that provider. 
		</p>
	<% else %>
		<p>
			Ok, you've registered a new property! Unfortunately, we don't yet have any services available in your new property's zip code. If you wish we had some services available for you to select, click the "Show my Interest!" button in the dashboard below and please check the boxes for the services you'd be interested in. This will help us to convince service providers that there are potential customers waiting for them to join the site.  Thanks!
		</p>
	<% end %>
	<hr>
<% else %>
	<p>
		Welcome back to your HumbleCasa dashboard. Below are your properties and any service request updates.
	</p>
	<hr>
<% end %>