<% if params[:message] == "welcome" %>
	<p>
		Ok, you've registered a new property! The next step is to click on the blue "Register or Change Services" button below. This will launch a window to register with service providers that work in your area.
	</p>
	<p>
		We're a young but growing site, so you might not see any service providers available yet in your area. If you wish we had a service available for you to select, please check the box on the Register for Services form! This will help us to convince service providers that there are potential customers waiting for them to join the site.  Thanks!
	</p>
	<hr>
<% else %>
	<p>
		Welcome back to your HumbleCasa dashboard. Below are your properties and any service request updates.
	</p>
	<hr>
<% end %>