          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center">
            <p>To unsubscribe from future notifications log on to your HumbleCasa account and update your account settings.</p>
            <p>&copy;2013 HumbleCasa</p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>