<%= render 'mailer_shared/email_header', title: "HumbleCasa: New Customer"%>

<h2>A new customer signed up for your service on HumbleCasa!</h2>
<p>
  <%= render 'mailer_shared/client_and_property_details' %>
</p>
<br>
<br>
<p>Please log on to <a href="http://humblecasa.com/">HumbleCasa</a> to provide a standard work request cost or arrange to meet with the client at their property to build your estimate.</p>
<br>
<p>
  <%= render 'mailer_shared/closing_to_service' %>
</p>
 <%= render 'mailer_shared/email_footer' %>