.interested-fields {
	float: left;
	alignment: left;
}

.simple_form label {
  float: left;
  width: 450px;
  text-align: left;
  display: inline;
}

.simple_form div.boolean {
  margin-left: -175px;
  float: left;
}

.simple_form div.boolean label {
  float: left;
  margin: 0;
}
