// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.password_resets {
	input#password, 
	input#password_confirmation {
		width: 25%
	}
	input#email {
		width: 25%;
		line-height: 20px;
		height: 30px;
	}
}