<% if params[:message] == "welcome" %>
	<p>
		Ok, you've created a new employee account! Click on the link below to select your employer.
	</p>
	<p>
		Once you've registered with your employer, then can assign service requests to you. You will get notified via email of new service requests, or you can check back here to view your dashboard.
	</p>
<% else %>
	<p>
		Welcome back to your HumbleCasa dashboard.
	</p>
<% end %>