<center>
	<p>You don't yet have an employer for your account. Please click the bottom below to find and register your employer.</p>
	<%= link_to "Select employer", select_employer_user_path(@user), class: "btn btn-primary" %>
</center>