<h4>Your service requests:</h4><br>
<ol class="service request listing">
	<% if !@sorted_service_requests.nil? %>
		<% @sorted_service_requests.each do |request| %>
			<li>
				<%= render request %> 
			</li>
		<% end %>
	<% else %>
		No service requests have been created yet by your customers. If you think this is in error, please contact HumbleCasa Support for assistance.
	<% end %>
</ol>