<% if params[:message] == "welcome" %>
	<p>
		Ok, you've registered a new business! As we mentioned in the sign-up screen, make sure you've entered all the zip codes in which you want to sign up customers. The more service area zip codes you have, the wider customer net you will cast!
	</p>
	<!--
	<p>
		If you do your own marketing and you want to direct new customers to HumbleCasa, you should provide them with this link:
	</p>
	<p>
				GENERATE AND ADD LINK. ALSO ADD IT TO THE BUSINESS DETAILS
	</p>
	<p>
		If your customers use that link when they sign up with HumbleCasa your business will be automatically assigned to them.
	</p>
	-->
	<p>
		You also need to have your employees create accounts if you want to use our workforce management tools. Their user account set-up is just like yours, except that they are required to identify the company that they work for. Once they've signed up you'll see them appear as options to assign and complete service requests. 
	</p>
<% else %>
	<p>
		Welcome back to your HumbleCasa dashboard.
	</p>
<% end %>