<% if params[:message] == "welcome" %>
	<p>
		Ok, you've registered a new business! We'll get right to work checking the business verification details that you provided - we usually have businesses verified and live in less than 1 business day.
	</p>
	<p>
		As we mentioned in the sign-up screen, make sure you've entered all the zip codes in which you want to sign up customers. The more service area zip codes you have, the wider customer net you will cast!
	</p>
	<p>
		You also need to create accounts for your employees if you want to use our workforce management tools. Click on the "Employees" tab below to see the list of current employees and to add new ones. Employee account set-up is just like yours and employees will be automatically linked to your service. Once you've signed them up you'll see employees appear as options to assign and complete service requests. 
	</p>
	<hr>
<% end %>