<title>Login</title>
<h2>Login</h2>
<%= simple_form_for @user_session, :validate => true do |f| %>
  	<%= f.input :email %><br />
  	<%= f.input :password %><br />
  	<center>
 		<button class="btn btn-primary" id="save-btn" type="submit" data-disable-with="Saving...">
			<i class="icon-ok-sign icon-white"></i> Login
		</button>
		&nbsp			
		<%= link_to "Cancel", root_path, class: "btn" %>
	</center>
<% end %>