<title>Login</title>
<h2>Login</h2>
<%= simple_form_for @user_session, :validate => true do |f| %>
  <%= f.input :email %><br />
  <%= f.input :password %><br />
  <center>
    <%= render 'shared/modal_buttons' %>
  </center>
<% end %>


