<title>Login</title>
<h2>Login</h2>
<%= simple_form_for @user_session, :validate => true do |f| %>
  <%= f.input :email %><br />
  <%= f.input :password %><br />
  <center>
    <%= render partial: 'shared/modal_buttons', locals: {save_button_label: "Login"} %>
  </center>
<% end %>


