<%= provide(:title, 'New ' + @assignment.category.titleize + ' Service Request') %>
<h2><%= 'New ' + @assignment.category.titleize + ' Service Request' %></h2>
<%= render partial: 'form', locals: {save_service_label: "Create service request"} %>